@import '../../styles/variables.scss';

.cities{
  height: calc(100vh - 14rem);
  border: 1px solid $section-border;
  border-radius: 0.5rem;
  margin: 2rem;
  overflow-y: auto;

  &__loading {
    height: 3.5rem;
  }
}
