$main-background-color: #efefef;
$content-background-color: #FFF;
$list-odd-item: #dafaf8;
$list-item-hover: #0096C7;
$section-border: #0096C7;
$filters-background: #0077B6;
$button-background: #FFF;
