@import '../../styles/variables.scss';

.city {
  border-bottom: 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__selection {
    margin: 5px;
    border-right: 1px solid #CCC;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $list-item-height;
  }

  &:hover {
    background-color: #AAA;
  }
}
