@import '../../styles/variables.scss';

.city {
  display: flex;
  flex-direction: row;
  align-items: center;

  &--odd {
    background-color: $list-odd-item;
  }

  &__selection {
    margin: 0.5rem;
    border-right: 1px solid #CCC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
  }

  &__info {
    padding-left: 0.5rem;
  }

  &:hover {
    background-color: $list-item-hover;
  }
}
