@import '../../styles/variables.scss';

.filters {
  margin: 2rem;
  background-color: $filters-background;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.filter-buttons {
  margin-top: 1rem;

  &__view-types {
    display: inline;
  }
  
  &__clear {
    float: right;
    display: inline;
  }
}
