@import './styles/variables.scss';

body {
  background-color: $main-background-color;
}

.challenge {
  max-width: 780px;
  margin: auto;
  background-color: $content-background-color;
  height: 100vh;
  padding-top: 1rem;
}
